<div class="container mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <% if @user == nil %>
      <h3>Hello, New User</h3>
    <% else %>
      <h3 class="mb-0">Hello, <%= @user.username %> 👋</h3>
    <% end %>
		<%= link_to chatroom_path(Chatroom.last), class: "navbar-brand me-1" do %>
			<i class="fa-solid fa-comments chatroom-logo"></i>
		<% end %>
  </div>
  <div>
		</div>
		<%= render "shared/searchform" %>
		<div class=" mt-4">
			<%= render "shared/playgrounds" %>
		</div>
	</div>
</div>
