<div id="map" data-controller="map" data-map-value="<%= @playgrounds.to_json %>"></div>

<!-- Google Maps API -->
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_API']}&callback=initMap" %>
