// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $yellow: #FFC65A;
// $green: #1EDD88;

$black: #002129;
$orange: #FF9532;
$second-orange: #FFA44F;
$blue: #2094B3;
$light-gray: #F8FAFD;
$gray: #A7B0C0;
$white: white;
$brown: #B37032;
