body {
  font-family: $body-font;
}

p {
  margin-bottom: 0px;
}

h1 {
  font-size: $h1-size;
  font-weight: $bold;
  font-family: $headers-font;
}

h2 {
  font-size: $h2-size;
  font-weight: $bold;
  font-family: $headers-font;
}

h3 {
  font-size: $h3-size;
  font-weight: $semi-bold;
  font-family: $headers-font;
}

h4 {
  font-size: $h4-size;
  font-weight: $medium;
  font-family: $headers-font;
}

.small {
  font-size: $small;
}

a {
  color: inherit;
  transition: .3s;
  text-decoration: none;

  &:hover {
    color: $second-orange;
  }
}

.light-gray {
  color: #000000A1;
}

.padding-bottom {
  padding-bottom: 100px;
}
