<% @games.each do |game| %>
  <%= link_to game_path(game) do %>
    <article class="game-card mb-3">
      <div class="game-card-header">
        <h4><%= game.start_date %></h4>
        <p><%= game.team_size %></p>
      </div>
      <div class="game-card-body">
        <p>Players</p>
        <div class="game-card-footer">
          <div class="game-card-players">
            <% game.players.each do |player| %>
            <% user = User.find(player.user_id) %>
              <% if user.photo.attached?  %>
              <%= cl_image_tag user.photo.key, class: "avatar avatar-small player" %>
              <% else %>
              <img class ="avatar avatar-small player"src="https://res.cloudinary.com/meetball/image/upload/v1661796523/User_Avatar_whdhtq.jpg" alt="">
              <% end %>
            <% end %>
          </div>
          <div class="game-card-tag">
            <% if game.game_mode == 'competitive' %>
              <p class="tag-competitive">Competitive</p>
            <% elsif game.game_mode == 'casual' %>
              <p class="tag-casual">Casual</p>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
