<% @games.each do |game| %>
  <%= link_to game_path(game) do %>
    <article class="game-card mb-3">
      <div class="game-card-header">
        <h4><%= game.start_date %></h4>
        <p><%= game.team_size %></p>
      </div>
      <div class="game-card-body">
        <p>Players</p>
        <div class="game-card-footer">
          <div class="game-card-players">
            <% game.players.each do |player| %>
                <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar avatar-small">
            <% end %>
          </div>
          <div class="game-card-tag">
            <% if game.game_mode == 'competitive' %>
              <p class="tag-competitive">Competitive</p>
            <% elsif game.game_mode == 'casual' %>
              <p class="tag-casual">Casual</p>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
