<article class="playground-card">
  <div class="playground-image" style="background-image: url('https://img.src.ca/2015/07/12/1250x703/150712_hz82a_terrain-basket-chandler_sn1250.jpg')" alt=""></div>
  <div class="playground-card-body">
    <div>
      <h3>Playground name</h3>
      <p>3 upcoming games</p>
    </div>
    <p class="small light-gray">3.4km away</p>
  </div>
</article>
