 <%= simple_form_for [@game, @result], defaults: { wrapper: false } do |f| %>
  <div class="form-group d-flex m-4">
    <div class="d-flex align-items-center flex-column results-div">
      <%= f.input :red_score, placeholder: "Enter score" %>
    </div>
    <div class="d-flex align-items-center flex-column results-div">
      <%= f.input :blue_score, placeholder: "Enter score" %>
    </div>
  </div>
  <div class="d-flex justify-content-center submit-results m-4">
    <%= f.submit 'Publish results', class: "btn btn-primary" %>
  </div>
<% end %>
