<div class="playground-detail-image-game m-3" style="background-image: url('<%= cl_image_path @game.playground.photo.key if @game.playground.photo.key? %>')" alt=""></div>
  <div class="container">
    <div class="game-show"
      data-controller="game-show">
      <div class="d-flex justify-content-between align-items-center mt-3 mb-1">
        <h3 class="m-0" style="font-size: 20px;">End of game on <%= @game.start_date.strftime("%m/%d/%Y") %></h3>
        <% if @game.game_mode == 'competitive' %>
          <p class="tag-competitive d-inline">Competitive</p>
        <% elsif @game.game_mode == 'casual' %>
          <p class="tag-casual d-inline">Casual</p>
        <% end %>
      </div>
      <div class="d-flex flex-column align-items-center mt-4 mb-4">
        <strong>Game rank</strong>
        <p><%= render "shared/rank_images", rank: @average_rank %></p>
      </div>
      <%= render "/shared/results_form" %>
    </div>
  </div>
</div>
