<h1>Your Results</h1>
<br>
<h3><%= @result.red_score > @result.blue_score ? "RED TEAM WIN !" : "BLUE TEAM WIN !" %></h3>
<br>
<h2>Team RED score : <%= @result.red_score %></h2>
<h2>Team BLUE score : <%= @result.blue_score %></h2>
