<div class="container d-flex justify-content-center">
  <div class="landing-logo" style="margin-top: 150px">
    <h1>Meet Ball</h1>
    <%= cl_image_tag("r4avpnbaz5su3rgsf1yf", width: 150, height: 150, crop: :fill) %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to "Get Started", playgrounds_path, class: "btn btn-primary d-flex justify-content-center m-4" %>
<% else %>
  <%= link_to "Get Started", user_session_path, class: "btn btn-primary d-flex justify-content-center m-4" %>
<% end %>

<hr class="footer-1">

<div class="footer">
  <div class="content"><p>New to Meet Ball? <span class="sign-up"><strong><%= link_to "Sign Up", new_user_registration_path %></strong></span></p></div>
</div>
