.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-small {
  width: 28px;
  height: 28px;
}
.avatar-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;

}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.player {
  margin-bottom: 20px;
  margin-right: 7px;
}

.badges img {
  width: 50px;

  justify-content: space-around;
}

.stats {
  background-color: $light-gray;
  border: 1px solid;
  height: 260px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
}
