.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-small {
  width: 28px;
  height: 28px;
}

.avatar-medium {
  width: 48px;
  height: 48px;
  border: 0.5px solid black;
  border-radius: 50%;
  margin-left: 8px;
}

.avatar-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;

}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.player {
  margin-right: 7px;
}

.avatar-badge {
  width: 50px;
  height: 50px;
}


.stats {
  background-color: $light-gray;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
}
