.btn-primary {
  background: $orange;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  transition:  0.3s ease;
  font-family: $headers-font;
  border: 0px;
  align-items: center;
  &:hover {
    background: $second-orange;
    color: white;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);
  }
}

.btn-blue {
  background: $light-gray;
  color: $blue;
  padding: 8px 24px;
  border-radius: 8px;
  transition:  0.3s ease;
  font-family: $headers-font;
  text-align: center;
  align-items: center;
  border: 1px solid;
  &:active {
    background: $blue;
    color: white;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);
  }
  &:hover {
    background: $blue;
    color: white;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);
  }
}

.tag-competitive {
  border: 1px solid $blue;
  background: $light-gray;
  color: $blue;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  font-family: $body-font;
  font-size: $small;
}

.tag-casual {
  border: 1px solid $brown;
  background: $light-gray;
  color: $brown;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  font-family: $body-font;
  font-size: $small;
}

.btn-small {
  background: $orange;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  transition:  0.3s ease;
  font-family: $headers-font;
  font-size: $small;
  border: 2px;
  align-items: center;
  &:active {
    background: $light-gray;
    color: white;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);
  }
  &:hover {
    background: $second-orange;
    color: white;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);
  }
}

  #app {
    width: 350px;
    height: 350px;
    display: grid;
    place-items: center;
  }

  #app ul {
    position: relative;
    width: 350px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 35px;
    background: $light-gray;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);
    overflow: hidden;
  }

  #app ul li {
    list-style: none;
    display: grid;
    place-items: center;
    font-family: $headers-font;
    color: black;
    z-index: 10;
    cursor: pointer;
  }

    #app ul .focus-el {
    position: absolute;
    left: 0;
    top: 0;
    width: 57%;
    height: 100%;
    border-radius: 35px;
    background: white;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);
  }

  #app ul .focus-el.el--2 {
    left: calc(-100% / 100);
  }

  .segmented-control {
    display: table;
    width: 100%;
    margin: 2em 0;
    padding: 0;
    box-shadow: 0px 8px 12px rgba(167, 176, 192, 0.32);

}
.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.segmented-control__input {
    position: absolute;
    visibility: hidden;
}
.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0;
    /* -1px margin removes double-thickness borders between items */
    font-weight: $semi-bold !important;
    font-family: $body-font !important;
    padding: 1em .25em;
    border-radius: 35px;
    color: $black;
    font: 14px/1.5 sans-serif;
    text-align: center;
    cursor: pointer;

}
.segmented-control__label:hover {
    background: white;
    color: $orange;
}
.segmented-control__input:checked + .segmented-control__label {
    background: $orange;
    color: white;
}

.btn-decline {
  border: 0px;
  font-weight: $semi-bold;
  background-color: white;
}
.team-full {
  box-shadow: $box-shadow;
  background-color: $light-gray;
  color: gray;

  &:hover {
    box-shadow: $box-shadow;
    background-color: $light-gray;
    color: gray;
  }
}

.btn-leave {
  background-color: $light-gray;
  border: 1px solid $red;
  color: $red;
  display: block;
  text-align: center;

  &:hover {
    background-color: $light-gray;
    border: 1px solid $red;
    color: $red;
  }
}
