.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-logo {
  font-size: 24px;
  color: $blue;
  display: flex;
  justify-content: flex-end;
  margin: 8px;

  &:hover {
    cursor: pointer;
    color: $second-orange;
    transition:  0.3s ease;
  }
}

.tag-casual-chatroom {
  border: 1px solid $brown;
  background: $light-gray;
  color: $brown;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  font-family: $body-font;
  font-size: $small;
  width: 90px;
}

.tag-competitive-chatroom {
  border: 1px solid $blue;
  background: $light-gray;
  color: $blue;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  font-family: $body-font;
  font-size: $small;
  width: 100px;
}

.chatroom-game-logo {
  position: absolute;
  display: flex;
  right: 10px;
  top: -3px;
  background-color: white;
  border-radius: 8px;
  border-radius: 50%;
  padding: 8px;
}
