.form {
  label {
    font-weight: $semi-bold;
    font-family: $headers-font;
  }

  .form-control, select {
    background-color: $light-gray;
    color: $gray;
  }

  .btn {
    margin-top: 20px;
    width: 100%;
  }

  .ts-wrapper, .ts-control, .ts-wrapper.single.input-active, .ts-wrapper.single.input-active .ts-control {
    background-color: $light-gray;
  }

  .ts-control {
    border: 0px;
  }

  .ts-dropdown {
    border-radius: 8px;
  }
}
