.form {
  label {
    font-weight: $semi-bold;
    font-family: $headers-font;
  }

  .form-control, select {
    background-color: $light-gray;
    color: $gray;
  }

  .btn {
    margin-top: 20px;
    width: 100%;
  }
}
