.game-card {
  background-color: $light-gray;
  border-radius: $border-radius-lg;
  padding: 15px;
  transition: .3s;
  color: $black;
  box-shadow: $box-shadow;

  .game-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .game-card-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.teams {
  margin-right: 20px;
  margin-left: 20px;
}

.players {
  max-width: 100px;
}
