.playground-card {
  margin-bottom: 20px;
  color: $black;

  a {
    color: $black;
  }

  .playground-image {
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: $border-radius-lg;
    transition: .3s;

    &:hover {
      box-shadow: $box-shadow;
    }
  }

  .playground-card-body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    > div {
      padding-right: 5px;
    }
  }

  h4 {
    margin: 0px;
  }
}


.playground-detail-image {
  height: 276px;
  border-radius: $border-radius-lg $border-radius-lg;
  background-position: center;
  background-size: cover;
}

.playground-detail-image-game {
  height: 200px;
  border-radius: $border-radius-lg $border-radius-lg;
  background-position: center;
  background-size: cover;
}

.kms {
  width: 100px;
  text-align: right;
}
